.goal-container {
    min-height: 70vh;
    margin: 50px auto;
    max-width: 600px;
    letter-spacing: 0.5px;
    position: relative;
}

.goal-card {
    width: 100%;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
}

.goal-sep-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}

.goal-separator {
    width: 150px;
    height: 5px;
    border-radius: 25px;
    background-color: rgb(67, 67, 67);
}

.goal-active {
    background-color: #633cb7;
}

.goal-title {
    font-size: 1.5rem;
}

.goal-text {
    color: rgb(142, 142, 142);
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 8px;
}

.goal-input {
    font-size: 0.9rem;
    padding: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgb(78, 78, 78);
    color: whitesmoke;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.goal-slider-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
}

.goal-slider {
    appearance: none;
    -webkit-appearance: none;
    margin-top: 10px;
    width: 100%;
    height: 8px;
    background: #633cb7;
    cursor: pointer;
    border-radius: 10px;
}

.goal-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
}

.goal-options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 10px;
    margin-bottom: 10px;
}

.goal-btn {
    background-color: rgb(78, 78, 78);
    height: 40px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.goal-selected {
    background-color: #633cb7;
}

.goal-label {
    color: rgb(157, 157, 157);
}

.goal-continue-btn {
    margin-top: 40px;
    align-self: flex-start;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 13px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #633cb7;
    color: white;
}

@media screen and (max-width: 768px) {
    .goal-container {
        min-height: auto;
        margin: 20px;
        padding-bottom: 80px;
    }

    .goal-card {
        padding: 5px;
    }

    .goal-sep-container {
        margin-bottom: 25px;
    }

    .goal-separator {
        width: 30%;
    }

    .goal-input {
        max-width: 100%;
    }

    .goal-slider-box {
        width: 100%;
    }

    .goal-options {
        width: 100%;
        gap: 12px;
    }

    .goal-btn {
        height: 48px;
        font-size: 1.05rem;
    }

    .goal-continue-btn {
        position: fixed;
        bottom: 20px;
        width: 80%;
        left: 10%;
        text-align: center;
        z-index: 10;
        align-self: center;
    }
}